<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tz.seckill.mapper.SeckillMapper">
    <select id="selectBuytimeById" resultType="java.util.Date">
        select buy_time from lg_house where id=#{param1}
    </select>
</mapper>
